# Airbnb

Possible questions: 

1. Do reviews affect price? Provide or remove pricing power?
2. Do Airbnb rates by neighbourhood match housing prices/rents by neighbourhood?


https://www.torontofurnishedrentals.com/toronto-house-prices-neighborhood-map/

## Dependencies

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

## Load Data

###### Initial read_csv generates a dtype memory warning due to pandas having to read in the entire file before being able to guess at the dtypes. The following cells extract the initial guessed dtype results on first load, saves to respective dicts, and uses the dicts for future read_csv calls.
[ony be needed for listing df]

In [2]:
# LISTING: need to wrap this in .Series to specify output of .dtypes to str for the values of the dict
#pd.Series(listing.dtypes, dtype=str).to_dict()

In [3]:
listing_dtypes = {
    'id': 'int64',
    'listing_url': 'object',
    'scrape_id': 'int64',
    'last_scraped': 'object',
    'name': 'object',
    'summary': 'object',
    'space': 'object',
    'description': 'object',
    'experiences_offered': 'object',
    'neighborhood_overview': 'object',
    'notes': 'object',
    'transit': 'object',
    'access': 'object',
    'interaction': 'object',
    'house_rules': 'object',
    'thumbnail_url': 'float64',
    'medium_url': 'float64',
    'picture_url': 'object',
    'xl_picture_url': 'float64',
    'host_id': 'int64',
    'host_url': 'object',
    'host_name': 'object',
    'host_since': 'object',
    'host_location': 'object',
    'host_about': 'object',
    'host_response_time': 'object',
    'host_response_rate': 'object',
    'host_acceptance_rate': 'float64',
    'host_is_superhost': 'object',
    'host_thumbnail_url': 'object',
    'host_picture_url': 'object',
    'host_neighbourhood': 'object',
    'host_listings_count': 'float64',
    'host_total_listings_count': 'float64',
    'host_verifications': 'object',
    'host_has_profile_pic': 'object',
    'host_identity_verified': 'object',
    'street': 'object',
    'neighbourhood': 'object',
    'neighbourhood_cleansed': 'object',
    'neighbourhood_group_cleansed': 'float64',
    'city': 'object',
    'state': 'object',
    'zipcode': 'object',
    'market': 'object',
    'smart_location': 'object',
    'country_code': 'object',
    'country': 'object',
    'latitude': 'float64',
    'longitude': 'float64',
    'is_location_exact': 'object',
    'property_type': 'object',
    'room_type': 'object',
    'accommodates': 'int64',
    'bathrooms': 'float64',
    'bedrooms': 'float64',
    'beds': 'float64',
    'bed_type': 'object',
    'amenities': 'object',
    'square_feet': 'float64',
    'price': 'object',
    'weekly_price': 'object',
    'monthly_price': 'object',
    'security_deposit': 'object',
    'cleaning_fee': 'object',
    'guests_included': 'int64',
    'extra_people': 'object',
    'minimum_nights': 'int64',
    'maximum_nights': 'int64',
    'minimum_minimum_nights': 'int64',
    'maximum_minimum_nights': 'int64',
    'minimum_maximum_nights': 'int64',
    'maximum_maximum_nights': 'int64',
    'minimum_nights_avg_ntm': 'float64',
    'maximum_nights_avg_ntm': 'float64',
    'calendar_updated': 'object',
    'has_availability': 'object',
    'availability_30': 'int64',
    'availability_60': 'int64',
    'availability_90': 'int64',
    'availability_365': 'int64',
    'calendar_last_scraped': 'object',
    'number_of_reviews': 'int64',
    'number_of_reviews_ltm': 'int64',
    'first_review': 'object',
    'last_review': 'object',
    'review_scores_rating': 'float64',
    'review_scores_accuracy': 'float64',
    'review_scores_cleanliness': 'float64',
    'review_scores_checkin': 'float64',
    'review_scores_communication': 'float64',
    'review_scores_location': 'float64',
    'review_scores_value': 'float64',
    'requires_license': 'object',
    'license': 'float64',
    'jurisdiction_names': 'object',
    'instant_bookable': 'object',
    'is_business_travel_ready': 'object',
    'cancellation_policy': 'object',
    'require_guest_profile_picture': 'object',
    'require_guest_phone_verification': 'object',
    'calculated_host_listings_count': 'int64',
    'calculated_host_listings_count_entire_homes': 'int64',
    'calculated_host_listings_count_private_rooms': 'int64',
    'calculated_host_listings_count_shared_rooms': 'int64',
    'reviews_per_month': 'float64'
}

### Load data with dtype_dicts

In [4]:
!pwd

/Users/martinfoot/Documents/DATA SCIENCE/Udacity/DS nd/Projects/Project 1

In [5]:
listing = pd.read_csv('data/listings.csv.gz', compression='gzip', dtype=listing_dtypes)

In [6]:
cal = pd.read_csv('data/calendar.csv.gz', compression='gzip') #, dtype='cal_dtypes')

In [7]:
reviews = pd.read_csv('data/reviews.csv.gz', compression='gzip') #, dtype='cal_dtypes')

In [8]:
neighbour = pd.read_csv('data/neighbourhoods.csv')

## EDA

### listing df

#### Basic cleaning, dropping columns...

In [9]:
listing.shape

(23397, 106)

In [10]:
pd.set_option('display.max_columns', len(listing.columns)) # To view all columns
pd.set_option('display.max_rows', 50) # To view min 50 rows

In [11]:
listing.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20191207213017,2019-12-08,Beautiful home in amazing area!,"This large, family home is located in one of T...",Visit Toronto with this fabulous furnished hom...,"This large, family home is located in one of T...",none,The apartment is located in the Ossington stri...,"To learn a little more about our home, see: (U...",All forms of public transportation are easily ...,The whole house and garden are available.,"We will be out of town, but fully accessible b...",This is our much-loved family home. We expect ...,NaN,NaN,https://a0.muscache.com/im/pictures/76206750/d...,NaN,1565,https://www.airbnb.com/users/show/1565,Alexandra,2008-08-08,"Toronto, Ontario, Canada","I live in Toronto, Canada with my husband and ...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/1565/profile_...,https://a0.muscache.com/im/users/1565/profile_...,Commercial Drive,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Toronto, ON, Canada",Little Portugal,Little Portugal,NaN,Toronto,ON,M6J,Toronto,"Toronto, Canada",CA,Canada,43.64617,-79.42451,f,House,Entire home/apt,10,3.0,5.0,7.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",1400.0,$469.00,"$2,000.00",NaN,"$1,000.00",$150.00,1,$0.00,4,730,4,4,730,730,4.0,730.0,22 months ago,t,0,0,0,0,2019-12-08,7,0,2015-07-19,2017-12-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.13
1,8077,https://www.airbnb.com/rooms/8077,20191207213017,2019-12-08,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,My husband and I are both artists. I give pain...,Guest room in a luxury condo with access to al...,none,NaN,NaN,NaN,NaN,NaN,No smoking please.,NaN,NaN,https://a0.muscache.com/im/pictures/11780344/1...,NaN,22795,https://www.airbnb.com/users/show/22795,Kathie & Larry,2009-06-22,"Toronto, Ontario, Canada",My husband and I have been airbnb host for alm...,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/9a077...,https://a0.muscache.com/im/pictures/user/9a077...,Harbourfront,2.0,2.0,"['email', 'phone', 'facebook', 'reviews']",t,f,"Toronto, ON, Canada",Downtown Toronto,Waterfront Communities-The Island,NaN,Toronto,ON,M5J,Toronto,"Toronto, Canada",CA,Canada,43.64105,-79.37628,t,Apartment,Private room,2,1.5,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$99.00,NaN,"$2,651.00","$2,651.00",NaN,1,$0.00,180,365,180,180,365,365,180.0,365.0,15 months ago,t,0,0,0,0,2019-12-08,169,0,2009-08-20,2013-08-27,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,t,f,strict_14_with_grace_period,f,t,2,1,1,0,1.35
2,12604,https://www.airbnb.com/rooms/12604,20191207213017,2019-12-08,Seaton Village Parlour Bedroom,Comfortable sofa bed in airy main floor parlour.,Family of 4 (2 kids) plus a friendly dog open...,Comfortable sofa bed in airy main floor parlou...,none,NaN,NaN,NaN,NaN,NaN,no smoking,NaN,NaN,https://a0.muscache.com/im/pictures/5282025/91...,NaN,48239,https://www.airbnb.com/users/show/48239,Rona,2009-10-25,"Toronto, Ontario, Canada","I love travelling and exploring new places, ma...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/48239/profile...,https://a0.muscache.com/im/users/48239/profile...,The Annex,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Toronto, ON, Canada",The Annex,Annex,NaN,Toronto,ON,M6G,Toronto,"Toronto, Canada",CA,Canada,43.66724,-79.41598,t,House,Private room,1,1.5,1.0,1.0,Pull-out Sofa,"{Internet,Wifi,""Pets live on this property"",Ca...",120.0,$66.00,$392.00,$961.00,$133.00,$27.00,1,$20.00,1,10,1,1,10,10,1.0,10.0,15 months ago,t,0,0,0,0,2019-12-08,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,f,moderate,f,f,1,0,1,0,NaN

In [12]:
# List of columns with zero NaN's
no_nan_cols = listing.columns[listing.isnull().sum() == 0]
print(len(no_nan_cols))
no_nan_cols  # 52 cols, but still some can be dropped...

52

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'experiences_offered',
       'picture_url', 'host_id', 'host_url', 'host_verifications', 'street',
       'neighbourhood_cleansed', 'smart_location', 'country_code', 'country',
       'latitude', 'longitude', 'is_location_exact', 'property_type',
       'room_type', 'accommodates', 'bed_type', 'amenities', 'price',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'number_of_reviews_ltm', 'requires_license',
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [13]:
mostly_nan_cols = listing.columns[listing.isnull().sum() / len(listing) > 0.9]
print(len(mostly_nan_cols))
mostly_nan_cols  # 10 cols to drop (>90% nan)

10

Index(['thumbnail_url', 'medium_url', 'xl_picture_url', 'host_acceptance_rate',
       'neighbourhood_group_cleansed', 'square_feet', 'weekly_price',
       'monthly_price', 'license', 'jurisdiction_names'],
      dtype='object')

In [14]:
# these next few cells I kept changing to use for exploring cols to add to 'drop_cols' list...
listing.guests_included.isnull().sum()

0

In [15]:
set(listing.requires_license)

{'f'}

In [16]:
(listing.review_scores_accuracy != listing.review_scores_cleanliness).sum()

10591

In [17]:
# only a few are different?
(listing['host_listings_count'] != listing['host_total_listings_count']).sum()

285

In [18]:
listing[listing['host_listings_count'] != listing['host_total_listings_count']][['host_listings_count', 'host_total_listings_count']]

       host_listings_count  host_total_listings_count
115                    NaN                        NaN
166                    NaN                        NaN
167                    NaN                        NaN
317                    NaN                        NaN
469                    NaN                        NaN
...                    ...                        ...
23164                  NaN                        NaN
23239                  NaN                        NaN
23241                  NaN                        NaN
23259                  NaN                        NaN
23291                  NaN                        NaN

[285 rows x 2 columns]

In [19]:
print((listing['host_listings_count'] != listing['calculated_host_listings_count']).sum())  # what's the meaning of diff's?
pd.set_option('display.max_rows', 50)  # why doesn't this work??
listing[(listing['host_listings_count'] != listing['calculated_host_listings_count'])][['name', 'host_listings_count', 'calculated_host_listings_count']]

8147

,name,host_listings_count,calculated_host_listings_count
10,Yonge & Bloor Studio Skyline,13.0,12
11,Fountain View Studio - Eaton center,13.0,12
12,Yonge & Bloor 2 Bedroom Master,13.0,12
13,Yonge & Bloor Lakeview Master BR,13.0,12
14,Yorkville one bedroom Condo,13.0,12
...,...,...,...
23390,T386@Modern high-end CN Tower view 2BR&2 bath,0.0,1
23391,Trendy 1 BR Apartment in the Annex - Bloor/Spa...,7.0,9
23394,4 LOFTS- 6000 SQ FT-2-15 Bedrooms + Party Room,23.0,22
23395,4 Bed/8 ppl Lux Suite⭐CN Tower View⭐FREE Parking,0.0,1
23396,Spacious Room 3-Min Walk to Subway (Female Only),3.0,4

In [20]:
listing[ abs(listing['host_listings_count'] - listing['calculated_host_listings_count']) > 2][['name', 'host_listings_count', 'calculated_host_listings_count']]

,name,host_listings_count,calculated_host_listings_count
44,2 bd Apt at Yonge & Bloor Yorkville,5.0,1
96,"SUNNY DBL CORKTOWN BREAKFAST, 2 BIKES INCL.",6.0,1
100,1BR-Close to Yonge & Eglinton 202,15.0,2
189,Convenient 1B + Guest Room Condo,73.0,82
192,Stunning 17FT Ceiling Modern Condo,73.0,82
...,...,...,...
23362,superior bedroom for rent close subway 宽敞明亮的房间近地铁,9.0,6
23366,Simply Comfort. Peacock Studio 35th floor,160.0,121
23370,1BR Suite in King West - Fashion & Ent. District,3.0,6
23374,Newly renovated room Victoria Park and Finch,51.0,4
23375,1 Bedroom unit Furnished in Fashion Distrinct,73.0,82

In [21]:
# smart_location is mostly the same (Toronto, Canada) and sometimes duplicates 'neighbourhood_cleansed'
listing[listing.smart_location == 'Cabbagetown, Toronto, Canada'][['smart_location', 'neighbourhood_cleansed']]

                     smart_location           neighbourhood_cleansed
20021  Cabbagetown, Toronto, Canada  Cabbagetown-South St.James Town

In [22]:
drop_cols = ['scrape_id', 'last_scraped', 'thumbnail_url', 'xl_picture_url', 'host_url', 'host_location', \
             'host_total_listings_count', 'street', 'neighbourhood', 'city', 'state', 'market', 'country', \
             'country_code', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', \
             'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'picture_url', \
             'calendar_last_scraped', 'requires_license', 'listing_url', 'experiences_offered', \
             'host_thumbnail_url', 'host_picture_url', 'smart_location', 'host_listings_count']

In [23]:
# add mostly_nan_cols to drop_cols
drop_cols.extend(mostly_nan_cols)
print(len(drop_cols))
drop_cols

39

['scrape_id',
 'last_scraped',
 'thumbnail_url',
 'xl_picture_url',
 'host_url',
 'host_location',
 'host_total_listings_count',
 'street',
 'neighbourhood',
 'city',
 'state',
 'market',
 'country',
 'country_code',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'picture_url',
 'calendar_last_scraped',
 'requires_license',
 'listing_url',
 'experiences_offered',
 'host_thumbnail_url',
 'host_picture_url',
 'smart_location',
 'host_listings_count',
 'thumbnail_url',
 'medium_url',
 'xl_picture_url',
 'host_acceptance_rate',
 'neighbourhood_group_cleansed',
 'square_feet',
 'weekly_price',
 'monthly_price',
 'license',
 'jurisdiction_names']

In [24]:
cols_to_keep = [i for i in listing.columns if i not in drop_cols] # used list comp instead of set | set to retain col order
print(len(cols_to_keep))
cols_to_keep

69

['id',
 'name',
 'summary',
 'space',
 'description',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'host_id',
 'host_name',
 'host_since',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_is_superhost',
 'host_neighbourhood',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood_cleansed',
 'zipcode',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [25]:
listing = listing[cols_to_keep]
listing.shape

(23397, 69)

In [26]:
listing.head(3)

,id,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,host_id,host_name,host_since,host_about,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,zipcode,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,Beautiful home in amazing area!,"This large, family home is located in one of T...",Visit Toronto with this fabulous furnished hom...,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,"To learn a little more about our home, see: (U...",All forms of public transportation are easily ...,The whole house and garden are available.,"We will be out of town, but fully accessible b...",This is our much-loved family home. We expect ...,1565,Alexandra,2008-08-08,"I live in Toronto, Canada with my husband and ...",NaN,NaN,f,Commercial Drive,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Little Portugal,M6J,43.64617,-79.42451,f,House,Entire home/apt,10,3.0,5.0,7.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",$469.00,"$1,000.00",$150.00,1,$0.00,4,730,22 months ago,t,0,0,0,0,7,0,2015-07-19,2017-12-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.13
1,8077,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,My husband and I are both artists. I give pain...,Guest room in a luxury condo with access to al...,NaN,NaN,NaN,NaN,NaN,No smoking please.,22795,Kathie & Larry,2009-06-22,My husband and I have been airbnb host for alm...,NaN,NaN,f,Harbourfront,"['email', 'phone', 'facebook', 'reviews']",t,f,Waterfront Communities-The Island,M5J,43.64105,-79.37628,t,Apartment,Private room,2,1.5,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$99.00,"$2,651.00",NaN,1,$0.00,180,365,15 months ago,t,0,0,0,0,169,0,2009-08-20,2013-08-27,97.0,10.0,10.0,10.0,10.0,10.0,10.0,t,f,strict_14_with_grace_period,f,t,2,1,1,0,1.35
2,12604,Seaton Village Parlour Bedroom,Comfortable sofa bed in airy main floor parlour.,Family of 4 (2 kids) plus a friendly dog open...,Comfortable sofa bed in airy main floor parlou...,NaN,NaN,NaN,NaN,NaN,no smoking,48239,Rona,2009-10-25,"I love travelling and exploring new places, ma...",NaN,NaN,f,The Annex,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Annex,M6G,43.66724,-79.41598,t,House,Private room,1,1.5,1.0,1.0,Pull-out Sofa,"{Internet,Wifi,""Pets live on this property"",Ca...",$66.00,$133.00,$27.00,1,$20.00,1,10,15 months ago,t,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,moderate,f,f,1,0,1,0,NaN

**TODO:**
- deal with text / categorical colums
- how many numerical cols and how to use?

#### Text Data

Need to convert all bool columns from text to

In [51]:
listing.select_dtypes(include=['object'])  # 29 numerical cols

,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,host_name,host_since,host_about,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,zipcode,is_location_exact,property_type,room_type,bed_type,amenities,price,security_deposit,cleaning_fee,extra_people,calendar_updated,has_availability,first_review,last_review,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
0,Beautiful home in amazing area!,"This large, family home is located in one of T...",Visit Toronto with this fabulous furnished hom...,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,"To learn a little more about our home, see: (U...",All forms of public transportation are easily ...,The whole house and garden are available.,"We will be out of town, but fully accessible b...",This is our much-loved family home. We expect ...,Alexandra,2008-08-08,"I live in Toronto, Canada with my husband and ...",NaN,NaN,f,Commercial Drive,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Little Portugal,M6J,f,House,Entire home/apt,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",$469.00,"$1,000.00",$150.00,$0.00,22 months ago,t,2015-07-19,2017-12-04,f,f,strict_14_with_grace_period,f,f
1,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,My husband and I are both artists. I give pain...,Guest room in a luxury condo with access to al...,NaN,NaN,NaN,NaN,NaN,No smoking please.,Kathie & Larry,2009-06-22,My husband and I have been airbnb host for alm...,NaN,NaN,f,Harbourfront,"['email', 'phone', 'facebook', 'reviews']",t,f,Waterfront Communities-The Island,M5J,t,Apartment,Private room,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$99.00,"$2,651.00",NaN,$0.00,15 months ago,t,2009-08-20,2013-08-27,t,f,strict_14_with_grace_period,f,t
2,Seaton Village Parlour Bedroom,Comfortable sofa bed in airy main floor parlour.,Family of 4 (2 kids) plus a friendly dog open...,Comfortable sofa bed in airy main floor parlou...,NaN,NaN,NaN,NaN,NaN,no smoking,Rona,2009-10-25,"I love travelling and exploring new places, ma...",NaN,NaN,f,The Annex,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Annex,M6G,t,House,Private room,Pull-out Sofa,"{Internet,Wifi,""Pets live on this property"",Ca...",$66.00,$133.00,$27.00,$20.00,15 months ago,t,NaN,NaN,f,f,moderate,f,f
3,Queen Bedroom close to downtown,NaN,Nestled in the middle of a quiet residential n...,Nestled in the middle of a quiet residential n...,NaN,* Laundry facilities are available at the prem...,* Public transit is conveniently located about...,NaN,You are welcome to contact us at any time if t...,* Guests are requested to leave their shoes at...,Yohan & Sarah,2010-03-15,Welcome to our dwelling place! My wife and I l...,within an hour,100%,t,Fairbank,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,Briar Hill-Belgravia,M6E 2P3,t,House,Private room,Real Bed,"{Internet,Wifi,""Air conditioning"",Kitchen,""Fre...",$72.00,$0.00,$0.00,$20.00,today,t,2010-05-31,2019-10-27,t,f,strict_14_with_grace_period,f,f
4,World Class downtown @CN Tower Theatre MTCC ga...,"CN Tower, TIFF Bell Lightbox, Metro Convention...",Welcome to 5***** Living - Bohemian decor~ in ...,"CN Tower, TIFF Bell Lightbox, Metro Convention...",There's a reason they call it the Entertainmen...,NaN,"Walk everywhere! Transit at your doorstep, end...",100% use of space and amenities,NaN,No Smoking Parking Available on Request ($20 d...,Adela,2010-04-25,Welcome to Toronto! \r\n\r\nAfter our first me...,within an hour,100%,f,Entertainment District,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Waterfront Communities-The Island,M5V 3P5,t,Condominium,Entire home/apt,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$199.00,$300.00,$51.00,$18.00,4 weeks ago,t,2011-01-05,2019-08-17,f,f,strict_14_with_grace_period,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23392,Anna小屋,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"房客需要清洗用过的锅碗餐具,进屋需要换鞋,保持室内卫生｡",Anna,2018-08-29,"热爱生活,知足感恩,热情好客｡",NaN,NaN,f,NaN,"['email', 'phone']",t,f,Islington-City Centre West,M8Z 0E7,f,Guesthouse,Shared room,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Free park...",$60.00,NaN,$10.00,$0.00,today,t,NaN,NaN,f,f,moderate,f,f
23393,Artsy Bed & Private Bathroom in Downtown,Charming and eclectic new condo in downtown To...,"It's an artsy, nerdy space! Much of the art is...",Charming and eclectic new condo in downtown To...,"At the turn of the century, Corktown was home ...",There's a desk with a monitor in the room in c...,You'll be right off of both King Street and Qu...,"Condo gym, outdoor pool, and games room with a...","I'm working from home a lot, so I'll be here b...",Shoes off in the house,Jenn,2014-05-27,I'm a designer that's lived Toronto my whole l...,within an hour,100%,t,Downtown Toronto,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,Moss Park,M5A 1M6,t,Condominium,Private room,Real Bed,"{TV,Wifi,""Air conditioning"",Pool,Kitchen,Gym,E...",$69.00,NaN,$30.00,$15.00,today,t,NaN,NaN,f,f,moderate,f,f
23394,4 LOFTS- 6000 SQ FT-2-15 Bedrooms + Party Room,"Newly renovated, 4 large loft style apartments...",4 Apartments: units (Phone number hidden by Ai...,"Newly renovated, 4 large loft style apartments...",Located in funky china town. Lots of very affo...,For those interested in 1 Day only reservation...,Safe neighborhood with public transit at your ...,Self check in. Concierge service available upo...,We offer a concierge service upon request to e...,House Rules Contract Applies to all guests en...,Kristle &Faisal,2013-10-15,Licensed Real Estate Agent in Ontario. I do re...,within an hour,100%,f,Downtown Toronto,"['email', 'phone', 'google', 'reviews', 'jumio...",t,f,Kensington-Chinatown,M5T 1G6,t,Loft,Entire home/apt,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,Heating,""S...","$2,000.00","$3,500.00","$1,000.00",$0.00,today,t,NaN,NaN,t,f,strict_14_with_grace_period,f,f
23395,4 Bed/8 ppl Lux Suite⭐CN Tower View⭐FREE Parking,"I'd love to host you in my spacious, cozy cond...",Master Bedroom: Features a super comfortable b...,"I'd love to host you in my spacious, cozy cond...","Close to all popular restaurants, city attract...",No parties and no loud music after 9pm. Disco...,This is a Walker's Paradise! No need for a car...,Entire Condo and building amenities including ...,I am available 24/7 via Airbnb App.,NaN,Sam,2019-11-17,Hello All and Welcome! I am excited to be a pa...,NaN,NaN,f,Fashion District,"['email', 'phone', 'offline_government_id', 'g...",t,f,Waterfront Communities-The Island,M5V 1C1,t,Condominium,Entire home/apt,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Free park...",$186.00,NaN,NaN,$0.00,today,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f
23396,Spacious Room 3-Min Walk to Subway (Female Only),We live in a clean and spacious townhouse just...,Our townhouse has three floors with two kitche...,We live in a clean and spacious townhouse just...,We live in a quiet and friendly neighbourhood ...,"Although guests are free to use both kitchens,...",We live three minutes away from the Finch West...,"Guests are free to use both kitchens, our dini...",NaN,No outside shoes in the house. Always lock the...,Mel,2017-08-09,One of the many things my husband and I love a...,within an hour,100%,t,York University Heights,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,York University Heights,M3J 2S9,t,Townhouse,Private room,Real Bed,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",$30.00,$0.00,$15.00,$0.00,today,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f

In [50]:
listing.availability_30.value_counts()  # looks like number of days available in the last XX days

0     9127
30    2392
29     877
6      795
28     510
23     474
7      448
24     443
17     438
15     419
27     406
16     404
5      400
13     398
18     396
11     389
10     379
8      370
12     366
9      359
14     359
22     358
19     358
20     354
25     344
21     341
2      311
1      301
4      300
26     297
3      284
Name: availability_30, dtype: int64

In [ ]:
listing.calendar_updated

#### Numerical Data

In [27]:
set(listing.dtypes)

{dtype('int64'), dtype('float64'), dtype('O')}

In [28]:
#print(listing.select_dtypes(exclude=['object']).columns)
listing.select_dtypes(exclude=['object'])  # 29 numerical cols

,id,host_id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,1565,43.646170,-79.424510,10,3.0,5.0,7.0,1,4,730,0,0,0,0,7,0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1,1,0,0,0.13
1,8077,22795,43.641050,-79.376280,2,1.5,1.0,1.0,1,180,365,0,0,0,0,169,0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2,1,1,0,1.35
2,12604,48239,43.667240,-79.415980,1,1.5,1.0,1.0,1,1,10,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,NaN
3,23691,93825,43.696020,-79.454680,3,1.0,1.0,1.0,2,1,28,13,13,13,13,215,9,95.0,10.0,10.0,10.0,10.0,9.0,10.0,2,0,2,0,1.85
4,26654,113345,43.645300,-79.389400,5,1.0,1.0,2.0,2,4,730,1,31,61,336,38,3,95.0,10.0,10.0,9.0,10.0,10.0,9.0,7,7,0,0,0.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23392,40647107,212513433,43.632224,-79.518382,2,1.5,1.0,1.0,1,3,1125,0,3,32,32,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1,NaN
23393,40647659,16057524,43.657150,-79.354760,2,1.0,1.0,1.0,1,1,14,0,0,6,6,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,NaN
23394,40650244,9443058,43.653544,-79.395458,16,8.5,15.0,15.0,1,1,1125,17,35,58,98,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,22,0,0,NaN
23395,40650884,310253541,43.641790,-79.399519,8,1.0,2.0,4.0,1,1,1125,0,23,52,52,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,NaN
23396,40651493,145242773,43.765430,-79.495770,1,2.0,1.0,1.0,1,15,1125,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0,4,0,NaN

### calendar df

In [29]:
cal.shape

(8539992, 7)

In [30]:
cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,291699,2019-12-08,t,$34.00,$34.00,80.0,90.0
1,1419,2019-12-08,f,$469.00,$469.00,4.0,730.0
2,1419,2019-12-09,f,$469.00,$469.00,4.0,730.0
3,1419,2019-12-10,f,$469.00,$469.00,4.0,730.0
4,1419,2019-12-11,f,$469.00,$469.00,4.0,730.0

In [31]:
cal.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    42
maximum_nights    42
dtype: int64

Calendar shows availability over the next year. **How to distinguish between availability signalling occupancy or the property no longer being on the market?** For listing_id 1419, the property description makes it clear this is a family home they are renting out while away and therefore not a regular rental property, hence no longer available (but curiously still listed).

In [35]:
cal[(cal['listing_id'] == 1419)]# & (cal['available'] == 't')]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1,1419,2019-12-08,f,$469.00,$469.00,4.0,730.0
2,1419,2019-12-09,f,$469.00,$469.00,4.0,730.0
3,1419,2019-12-10,f,$469.00,$469.00,4.0,730.0
4,1419,2019-12-11,f,$469.00,$469.00,4.0,730.0
5,1419,2019-12-12,f,$469.00,$469.00,4.0,730.0
...,...,...,...,...,...,...,...
361,1419,2020-12-02,f,$469.00,$469.00,4.0,730.0
362,1419,2020-12-03,f,$469.00,$469.00,4.0,730.0
363,1419,2020-12-04,f,$469.00,$469.00,4.0,730.0
364,1419,2020-12-05,f,$469.00,$469.00,4.0,730.0
365,1419,2020-12-06,f,$469.00,$469.00,4.0,730.0

In [43]:
#listing[listing['id'] == 1419]['calendar_updated']
d=[i for i in set(listing['calendar_updated']) if 'day' in i]
w=[i for i in set(listing['calendar_updated']) if 'week' in i]
m=[i for i in set(listing['calendar_updated']) if 'month' in i]
o=set(listing['calendar_updated']) - set(d) - set(w) - set(m)
print(d)
print(w)
print(m)
print(o)

['6 days ago', 'yesterday', '5 days ago', 'today', '4 days ago', '3 days ago', '2 days ago']
['1 week ago', '3 weeks ago', 'a week ago', '7 weeks ago', '5 weeks ago', '6 weeks ago', '4 weeks ago', '2 weeks ago']
['25 months ago', '39 months ago', '24 months ago', '14 months ago', '34 months ago', '40 months ago', '54 months ago', '28 months ago', '53 months ago', '6 months ago', '4 months ago', '69 months ago', '9 months ago', '27 months ago', '11 months ago', '57 months ago', '15 months ago', '17 months ago', '30 months ago', '59 months ago', '48 months ago', '45 months ago', '92 months ago', '35 months ago', '5 months ago', '41 months ago', '42 months ago', '32 months ago', '19 months ago', '2 months ago', '10 months ago', '49 months ago', '16 months ago', '29 months ago', '68 months ago', '44 months ago', '33 months ago', '13 months ago', '31 months ago', '8 months ago', '37 months ago', '3 months ago', '52 months ago', '56 months ago', '50 months ago', '46 months ago', '62 months ago', '20 months ago', '21 months ago', '36 months ago', '23 months ago', '60 months ago', '65 months ago', '7 months ago', '43 months ago', '12 months ago', '85 months ago', '67 months ago', '38 months ago', '61 months ago', '58 months ago', '47 months ago', '63 months ago', '64 months ago', '26 months ago', '55 months ago', '22 months ago', '51 months ago', '18 months ago']
{'never'}

In [44]:
listing.calendar_updated.value_counts()

today            2421
3 months ago     1701
2 weeks ago      1650
a week ago       1588
2 months ago     1356
                 ...
63 months ago       2
68 months ago       2
69 months ago       1
85 months ago       1
92 months ago       1
Name: calendar_updated, Length: 85, dtype: int64

In [45]:
listing[listing['id'] == 1419]['calendar_updated']  # so can use 'calendar_updated' as cutoff for active listing

0    22 months ago
Name: calendar_updated, dtype: object

### neighbourhood df

In [59]:
neighbour.shape

(140, 2)

In [60]:
neighbour.head()

   neighbourhood_group                 neighbourhood
0                  NaN               Agincourt North
1                  NaN  Agincourt South-Malvern West
2                  NaN                     Alderwood
3                  NaN                         Annex
4                  NaN             Banbury-Don Mills

In [194]:
neighbour.isnull().sum()

neighbourhood_group    140
neighbourhood            0
dtype: int64

### reviews df

In [61]:
reviews.shape

(653723, 6)

In [62]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...

In [195]:
reviews.isnull().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         459
dtype: int64

### TREB test

In [198]:
with open('data/TREB.html') as f:
    html = BeautifulSoup(f, 'lxml')

In [206]:
len([i.get_text() for i in html.find_all(class_='streetAddress')])

100

In [207]:
html.find_all(class_='streetAddress')[0].get_text()

'14 Payzac Ave'